@model RISTORANTIS.Models.Restaurante

@{
    ViewData["Title"] = "Detalhes";
}

<head>
    <style>
        .button {
            background-color: #F5DEB3;
            border-color: #000000;
            color: #000000;
            padding: 5px 20px;
            text-align: center;
            display: compact;
            font-size: 15px;
        }
    </style>
</head>

<h1 class="text-center">Detalhes Do Restaurante</h1>

<link rel="stylesheet" href="~/StyleSheetGeral.css"/>

<div>
    @*<h4>Restaurante</h4>*@
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telefone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Telefone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LocalizacaoGps)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LocalizacaoGps)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EnderecoCodigoPostal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EnderecoCodigoPostal)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EnderecoMorada)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EnderecoMorada)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EnderecoLocalidade)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EnderecoLocalidade)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Horario)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Horario)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiaDescanso)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiaDescanso)
		</dd>
		<dt class="col-sm-2" hidden>
			@Html.DisplayNameFor(model => model.EstadoR)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Fotografia)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Fotografia)*@
			@*<img src="~/Imagens/@Model.Fotografia" height="50" width="100" />*@

			@{
				var imagem = String.Format("data:image/gif;base64,{0}", Model.Fotografia);
			}
			<img src="@imagem" height="75" width: auto />
		</dd>
		<div>
			@if (Model.EstadoR == "Registado")
			{
				<a asp-action="DetalhesPR" asp-route-id="@Model.IdRestaurante" class="btn btn-primary; button" > Pratos do Dia </a> 
				<a asp-action="Servicos" asp-controller="Administradores" asp-route-id="@Model.IdRestaurante" class="btn btn-primary; button" > Tipos de Serviço </a> 
				<a asp-action="GerirUtilizadores" asp-controller="Administradores" style="color:black"> Voltar </a>
			}
			else
			{
				<a asp-action="Servicos" asp-controller="Administradores" asp-route-id="@Model.IdRestaurante" class="btn btn-primary; button"> Tipos de Serviço </a> 
				<a asp-action="PedidosRestaurante" asp-controller="Administradores" style="color:black"> Voltar </a>

			}
		</div>
	</dl>
</div>

