
@{ ViewData["Title"] = "Painel"; }


@*<div class="text-center">
        <h1 class="display-4">Bem-Vindo @Context.Session.GetString("admin")</h1>
    </div>*@
<div class="text-center">
    <h1 class="display-4">Bem-Vindo @Context.Session.GetString("nome")</h1>
</div>

<link href="~/StyleSheetGeral.css" rel="stylesheet" />

<h1 class="text-center">Menu de Administrador</h1>
@*<h1>Menu Principal</h1>*@
<form asp-action="Painel">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="text-center">
		<br />
		@Html.ActionLink("Pedidos de Restaurante", "PedidosRestaurante", "Administradores", null, new { style = "background-color:wheat; border-color:black; color: black; height: 40px; width: 240px", @class = "btn btn-primary" })
		<br />
		<br />
		@Html.ActionLink("Gerir Utilizadores", "GerirUtilizadores", "Administradores", null, new { style = "background-color:wheat; border-color:black; color: black; height: 40px; width: 240px", @class = "btn btn-primary" })
		<br />
		<br />
		@Html.ActionLink("Alterar Dados", "AlterarDadosA", "Administradores", null, new { style = "background-color:wheat; border-color:black; color: black; height: 40px; width: 240px", @class = "btn btn-primary" })
		<br />
		<br />
		@Html.ActionLink("Adicionar Adminstradores", "VerAdministradores", "Administradores", null, new { style = "background-color:wheat; border-color:black; color: black; height: 40px; width: 240px", @class = "btn btn-primary" })
	</div>

</form>

